@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-sans:"Roboto", "serif";
    --font-primary: "Righteous", "serif";
    --font-secondary:"Roboto", "serif";
}